<div id="Principal" class="container">
  <div class="row">
    <div class="col-12">
      <h1>AGREGAR USUARIO</h1>
    </div>
  </div>
    <div class="row">
      <form class="form-group">
          <h4>Nombre:</h4>
          <input type="text" id="Nombre" class="form-control">

      </form>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Guardar</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4" id="Usuario">
        <div class="alert alert-primary" role="alert">
          <p>Nombre de usuario</p>
        </div>
      </div>
    </div>

</div>

